<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form class="form-inline justify-content-md-center" action="//NoFreeWork.us8.list-manage.com/subscribe/post?u=5838228de1a3e41ef59b6f195&amp;id=e97772b84b" method="POST" target="_blank">
      <label class="sr-only" for="inlineFormInput">Email</label>
      <p>Get updates when new interviews are published.</p>
      <input type="email" name="EMAIL" class="form-control col col-6" id="inlineFormInput" placeholder="onabeach@bali.vacation">

      <button type="submit" value="Subscribe" name="subscribe" class="btn btn-primary col col-6" style="margin-top:9px;">Submit</button>
    </form>
    </div>
  </div>
</div>


