<div class="container newsletter-blog-footer">
<div class="row justify-content-md-center">
<div class="col col-lg-8 col-sm-12">
<div class="card" id="newsletter-card"> 
<div class="card-block">
<p>Every week I interview a new person living a life outside cubicle walls. When you subscribe for updates, I'll send you one a week. Also, when I add new features to the site, I may email you about it. That's it!</p>
</div>        
<div class="col">
<!-- <form class="form-inline justify-content-md-center" action="https://formspree.io/chris@officeunbound.com" method="POST">

<input type="email" name="_replyto" class="form-control col col-9" id="inlineFormInput" placeholder="onabeach@bali.vacation">

<label class="sr-only" for="inlineFormInputGroup">Email</label>

<button type="submit" value="Subscribe" class="btn btn-primary">Submit</button>
</form> -->



<form class="form-inline justify-content-md-center" action="//NoFreeWork.us8.list-manage.com/subscribe/post?u=5838228de1a3e41ef59b6f195&amp;id=e97772b84b" method="POST" target="_blank">

<input type="email" name="EMAIL" class="form-control col col-9" id="inlineFormInput" placeholder="onabeach@bali.vacation">

<label class="sr-only" for="inlineFormInputGroup">Email</label>

<button type="submit" value="Subscribe" name="subscribe" class="btn btn-primary">Submit</button>
</form> 

</div>
</div>
</div>
</div>
<div class="col"></div>
</div>
</div>
