<form class="form-inline justify-content-md-center" action="//NoFreeWork.us8.list-manage.com/subscribe/post?u=5838228de1a3e41ef59b6f195&amp;id=e97772b84b" method="POST" target="_blank">
  <label class="sr-only" for="inlineFormInput">Name</label>
  <input type="email" name="EMAIL" class="form-control col col-6" id="inlineFormInput" placeholder="onabeach@bali.vacation" style="margin: 0 auto;">
  <label class="sr-only" for="inlineFormInputGroup">Username</label>

  <button type="submit" value="Subscribe" name="subscribe" class="btn btn-primary col col-4" style="margin: 0 auto;">Submit</button>
</form>


